.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
.button {
    display: inline-block;
    max-width: 116px;
    max-height: 52px;
    border-radius: 8px;
    color: #006A50;
    border: 2px;
}


nav {
    display: flex;
    align-items: top;
    justify-content: space-between;
    margin: 0 160px;

}

.banner {
    display: flex;
    max-height: 560px;
    max-width: 1280px;
    background-color: #C6E4D6;
    padding: 40px;
    border-radius: 24px;
    margin: 24px 160px;
    
}
.bang {
    font-weight: 400;
    font-size: 24px;
    color: #0E0E0E;
}
.pragraph {
    font-weight: bold;
    font-size: 56px;
    ;
}
.btn {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    width: 270px;
    height: 56px;
    border-radius: 8px;
    
}
.pic {
  width: 474.03px;
  height: 400px;
}
.section-1 {
    margin: 80px 160px;
}
.vision-full {
    display: flex;
    justify-content: space-between;
}
.vision-1 {
    height: 300px;
    width: 350px;
    background-color: #b7cdf5;
    border-radius: 16px;
    padding: 32px;
    margin: 32px 0;
}
.learn-1 {
    width: 142px;
    height: 41px;
    background-color: #5490F5;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    margin-top: 24px;
}
.vision-2 {
    height: 300px;
    width: 350px;
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 32px;
    margin: 32px 0; 
}
.learn-2 {
    width: 142px;
    height: 41px;
    background-color: #09A15C;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    margin-top: 24px;
}
.vision-3 {
    height: 300px;
    width: 350px;
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 32px;
    margin: 32px 0; 
}
.learn-3 {
    width: 142px;
    height: 41px;
    background-color: #FFC239;
    color: #FFFFFF;
    border-radius: 8px;
    border: none; 
    margin-top: 24px;
}
.news {
    margin: 80px 160px;
}
.news-1 {
    display: flex;
    margin: 48px 0 0 0;
    background-color: #F7EBCF;
    width: 1280px;
    height: 402px;
    border-radius: 24px;
    
}
.satelite {
   margin: 48px 32px 48px 48px; 
   border-radius: 24px;
}
.news-disc {
    justify-content: space-around;
    margin: 48px;
}
.time {
    display: flex;
    justify-content: left;
}
.readm {
    height: 48px;
    font-weight: 139px;
    border-radius: 8px;
    background-color: #006A50;
    color: #FFFFFF;
}